

body{

  margin:0;
  padding:0;
  font-family:"Roboto","Arial",sans-serif;
  font-size: 14px;
  color:#444;
  background-color: #061C38;
  overflow-x: hidden;
}




.text_1{
  position: absolute;
width: 540px;
height: 404px;
left: 1300px;
top: 1217px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 131.8%;
/* or 50px */


color: #FFFFFF;

}





h1{
position: absolute;
width: 514px;
height: 157px;
left: 70px;
top: 77px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 75px;
line-height: 100px;

color: #FFFFFF;
}

h2{
  position: absolute;
  width: 431px;
  height: 2px;
  left: 191px;
  top: 206px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 20px;
  
  color: #FFFFFF;
  
}

.name>{
  animation-name: nuage-right-animation;
  animation-duration: 1s;
  animation: nuage-right-animation  1s;  

}

.sun{
  position: absolute;
  z-index: 0 ;
  animation-name: sun-animation;
  animation-duration: 1s;
  animation: sun-animation  1s;
  left: 55%;
}

@keyframes sun-animation
{
    0%   { transform:translateX(100%) }

  }

@keyframes nuage-animation
{
  0%   { transform:translateX(100%) }
}

@keyframes nuage-right-animation
{
  0%   { transform:translateX(-100%) }
}


.nuage{
  position: absolute;
  left: 70%;
  top: 40%;
  z-index: 1;
  animation-name: nuage-animation;
  animation-duration: 1s;
  animation: nuage-animation  1s;  
}

.nuage2{
  position: absolute;
  left: 90%;
  top: 10%;
  z-index: 1;
  animation-name: nuage-animation;
  animation-duration: 1s;
  animation: nuage-animation  1s;  
  }
.nuage3{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  animation-name: nuage-animation;
  animation-duration: 1s;
  animation: nuage-animation  1s;  
}
.nuage4{
  position: absolute;
  left: 85%;
  top: 70%;
  z-index: 1;
  animation-name: nuage-animation;
  animation-duration: 1s;
  animation: nuage-animation  1s;  
}
.nuage5{
  position: absolute;
  left: -10%;
  top: 30%;
  z-index: 1;
  animation-name: nuage-right-animation;
  animation-duration: 1s;
  animation: nuage-right-animation  1s;  

}



.image_projet{
 position: absolute;
width: 478px;
height: 518px;
right: 1400px;
top: 1196px;

background: #2E2E2E;
box-shadow: 31px 36px 25px rgba(0, 0, 0, 0.55);
}