.navigation {
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  font-size: 1.4rem;
  line-height: 28px;
  color: $color-4;
  z-index: 100;


  .menu{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 2.5%;
    font-weight: bold;
  }

 
  .nav-active {
    color: white
  }
  ul:hover li:not(:hover) {
    opacity: .5;
  }
  ul:hover li:hover {
    color: white;
  }

  .nav-portfolio {
    cursor: pointer;
    display: flex;
    transition: .5s;

    &:hover .nav-projects,
    .nav-projects:hover {

      visibility: visible;
      opacity: 1;

    }

    .nav-projects {
      display: flex;
      width: 700px;
      justify-content: space-between;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      padding: 0 40px;
      top: 120%;
      left: 2%;
      transform: translateX(70px);
      transition: .3s ;
      perspective: 500px;
      z-index: 100;

      @media screen and (max-width: 650px) {
        flex-direction: column;
      }
    


      li {
        transition: .3s;
      }
    }
  }
}