.navigation {
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  font-size: 1.4rem;
  line-height: 28px;
  color: $color-4;
  z-index: 100;
  .menu{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 2.5%;
    font-weight: bold;
  }

  &:before {
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: $color-3;
    top: -150px;
    left: -160px;
    z-index: -1;
    animation: navAnim 10s infinite alternate;

    @keyframes navAnim {
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
    @media screen and (max-width: 430px){
      height: 50px;
      width: 50px;
    }
  }
  .nav-active {
    color: white
  }
  ul:hover li:not(:hover) {
    opacity: .5;
  }
  ul:hover li:hover {
    color: white;
  }

  .nav-portfolio {
    cursor: pointer;
    display: flex;
    transition: .5s;

    &:hover .nav-projects,
    .nav-projects:hover {

      visibility: visible;
      opacity: 1;

    }

    .nav-projects {
      display: flex;
      width: 700px;
      justify-content: space-between;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      padding: 0 40px;
      top: 120%;
      left: 2%;
      transform: translateX(70px);
      transition: .3s ;
      perspective: 500px;
      z-index: 100;

      li {
        transition: .3s;
      }
    }
  }
}