.contact {
  height: 100%;
  padding: 25px;
  position: relative;

  @media screen and (min-width: 650px) and (max-height: 420px) {
    overflow: hidden;
    overflow-y: scroll;
  }

  .skills {
    width: 50vw;
  }
  .skills-list {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.5rem;
  }

  .content {
    margin-bottom: 30px;
  }

  h4 {
    color: red;
    font-size: 1.3rem;
    font-weight: bold;

    @media screen and (min-width: 1200px) {
      font-size: 1.8rem;
    }
  }
  p {
    @media screen and (min-width: 1200px) {
      color: white;
      font-size: 1.5rem;
    }
    @media screen and (max-width: 450px) {
      color: white;
      line-height: 1.5;
    }
  }
}
.contact-infos {
  color: white;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
}
