.home {
  height: 100vh;
  width: 100vw;
  position: absolute;
  .home-motion {
    height: 100%;
    .home-main {
      display: grid;
      align-items: center;
      justify-items: center;
      width: auto;
      height: 95%;
      overflow: hidden;

      .main-content {
        user-select: none;
        min-height: 141px;
        h1 {
          font-size: 3.7rem;
          position: relative;
          font-family: $font-2;
          color: red;

          @media screen and (max-width: 950px) {
            font-size: 2.5rem;
          }

          @media screen and (max-width: 650px) {
            font-size: 2rem;
            overflow: hidden;
          }

          &:before {
            content: '';
            position: absolute;
            height: 545px;
            width: 545px;
            border-radius: 50%;
            background-image: url('../../assets/moon.svg');
            top: -200px;
            left: -40%;
            z-index: -10;
            animation: h1Anim 1.5s forwards ease;
            transform: scale(0);

            @media screen and (max-width: 950px) {
              top: -400px;
              left: 50%;
            }

            @keyframes h1Anim {
              to {
                transform: scale(0.4);
              }
            }
          }
        }

        h2 {
          font-size: 4.2rem;
          font-weight: 100;

          @media screen and (max-width: 950px) {
            font-size: 2.8rem;
            overflow: hidden;
          }
        }
      }
    }
  }
}
