.project {
  position: absolute;
  height: 100%;
  width: 100%;

  overflow: hidden;

  .moon {
    height: 545px;
    width: 545px;
    transform: scale(0.5);
    background-image: url('../../assets/moon.svg');
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: -150px;
    z-index: -10;

    @media screen and (max-width: 1100px) {
      top: 20px;
      left: -200px;
    }

    @media screen and (max-width: 720px) {
      top: 20px;

      left: -200px;
    }
  }

  .navigation {
    z-index: 1000;
    top: 5px;
    left: 60%;
    font-size: 1.1rem;
    line-height: 20px;
    animation: navProject 1s ease forwards;

    @media screen and (max-width: 1100px) {
      left: 5%;
    }

    @keyframes navProject {
      to {
        transform: translateY(0);
      }
    }

    &:before {
      left: -120px;
      top: -250px;
    }

    .nav-projects {
      display: flex;
      width: 500px;
      justify-content: space-between;
      left: 12%;
      transform: translateX(67px);
      padding: 0 20px;
    }
  }

  .logo {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    transform: scale(0);
    animation: logoProject 2s ease forwards;

    @keyframes logoProject {
      to {
        transform: scale(1);
      }
    }
  }

  .project-main {
    width: 100%;
    height: 100%;

    .project-content {
      margin-right: 20px;
      position: absolute;
      top: 45%;
      left: 75px;
      z-index: 100;

      @media screen and (max-width: 1100px) {
        margin: 0;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
      }

      h1 {
        font-size: 3rem;
        margin-bottom: 3%;
        font-family: $font-2;
        color: red;
        transform: scaleX(0);
        animation: transformTitle 1.5s ease forwards;
        transform-origin: 150%;
        word-wrap: break-word;
        max-width: 320px;

        @media screen and (max-width: 1100px) {
          font-size: 1.5rem;
          width: 330px;
          margin: 0 auto;
          margin-bottom: 3%;
          text-align: center;
          max-width: 100%;
        }

        @keyframes transformTitle {
          to {
            transform: scaleX(1);
          }
        }
      }

      p {
        margin-bottom: 3%;
        color: red;
        font-size: 1.4em;
        font-weight: bold;

        @media screen and (max-width: 450px) {
          font-size: 0.9rem;
          margin: 0 auto;
          margin-bottom: 3%;
          text-align: center;
        }

        &:after {
          content: '';
        }
      }

      .languages {
        line-height: 35px;
        gap: 10px;
      }

      ul {
        @media screen and (max-width: 1100px) {
          display: flex;
          justify-content: space-between;
        }
      }

      li {
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }

    .img-content {
      position: relative;
      text-align: left;
      position: absolute;
      top: 50%;
      left: 50%;

      @media screen and (max-width: 1100px) {
        transform: translate(-50%, -50%);
      }
      .img-container {
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.26);
        width: 600px;
        height: 380px;
        overflow: hidden;
        position: relative;

        @media screen and (max-width: 1100px) {
          height: 200px;
          width: 400px;
          margin-top: 10%;
        }

        @media screen and (max-width: 700px) {
          margin-top: 15%;
        }

        @media screen and (max-width: 450px) {
          margin: 0 auto;
          height: 200px;
          width: 300px;
        }

        &:hover span,
        span:hover {
          visibility: visible;
          transform: translateY(0);
        }

        img {
          overflow: hidden;
          object-fit: cover;
          object-position: 0%;
          width: 100%;
          height: 100%;
          position: absolute;
          transition: 0.4s ease-out;
          position: relative;

          &:hover,
          span:hover img {
            transform: scale(1.2);
            filter: opacity(15%) contrast(150%);
          }
        }

        span {
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 100%;
          padding: 1rem;
          margin: 0 auto;
          line-height: 34px;
          font-size: 1.5rem;
          visibility: hidden;
          transition: 0.5s ease;
          transform: translateY(200px);

          h3 {
            padding-bottom: 10px;
            color: red;
          }

          p {
            color: white;
          }
        }
      }
    }
  }

  .button-container {
    width: 130px;

    @media screen and (max-width: 450px) {
      margin: 0 auto;
      margin-top: 30%;
    }

    a {
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-1;
        background: $color-2;
        font-weight: bold;

        &:hover {
          color: $color-2;
          background: $color-3;
        }
      }
    }
  }

  .random-circle {
    position: absolute;
    height: 545px;
    width: 545px;
    transform: scale(0.5);

    background: $color-3;
    background-image: url('../../assets/moon.svg');
    border-radius: 50%;
    z-index: -50;
    animation: circleAnim 15s infinite alternate;

    @keyframes circleAnim {
      50% {
        transform: scale(0.2);
      }

      100% {
        transform: scale(0.5);
      }
    }

    @media screen and (max-width: 630px) {
      display: none;
    }
  }
}
