*{
  font-family:"Lato",sans-serif;

}

body{
  margin:0;
  padding:0;
  font-size: 14px;
  color:#444;
  /* background-color: #061C38; */
  background-color: #161616;

  overflow-x: hidden;
  
}

header{
  width: 100vw;
  height:5vh;
  background-color: #0f0d0d;
  border-bottom: 1px black;
  position: fixed;
  z-index: 100;
  color: white;
  text-decoration: none;
}

.head{
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
a{
  text-decoration: none;
  color: white;

}
.underbar{
  height: 3px;
  background: white;
  top: 25px;
  position: absolute;
  transition: 0.5s ease;
}
li{
  list-style: none;
  transition: 0.5s ease;

}
  li:nth-of-type(1):hover ~ .underbar{
    left: 11%;
    width: 60px;
    background: white;
  }
  li:nth-of-type(2):hover ~ .underbar{
    left: 30%;
    width: 60px;
    background: white;
  }
  li:nth-of-type(3):hover ~ .underbar{
    left: 50%;
    width: 60px;
    background: white;
  }
.name{
  margin-left: 3%;
}
.about{
  width: 500px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.head_project{
  padding-left: 5%;
  padding-right: 5%;
}

section{
  width: 100vw;
  height: 100vh;
}

.main{
  margin-bottom: 40vh;
}



h1{
position: absolute;
width: 33vw;
height: 20vh;
left: 9vw;
top: 5vh;
font-style: normal;
font-weight: bold;
font-size: 5vw;
line-height: 20vh;

color: #FFFFFF;
}

h2{
  position: absolute;
  width: 28vw;
  height: 0.2vh;
  left: 12vw;
  top: 27vh;
  font-weight: bold;
  font-size: 3vw;
  line-height: 0.1vh;
  color: #FFFFFF;
}



.line{
  width: 30vw;
  height: 5px;
  background-color: white;
}


.about_image{
  position: absolute;
  width: 25vw;
  height: auto;
  top : 80vh;
  left: 20vw;
  animation-name: rotation_about;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-timing-function: linear;
}

@keyframes rotation_about{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}





.sun{
  position: absolute;
  z-index: 0 ;
  width: 65%;
  height: auto;
  left: 55%;
}

@keyframes sun-animation
{
    0%   { transform:translateX(100%) }

  }

@keyframes nuage-animation
{
  0%   { transform:translateX(100%) }
}

@keyframes nuage-animation2
{
  0%   { transform:translateX(-100%) }
}

.nuage_animation{
  animation-name: nuage-animation;
  animation-duration: 1s;
  animation: nuage-animation  1s;  
}
.nuage_animation2{
  animation-name: nuage-animation2;
  animation-duration: 1s;
  animation: nuage-animation2  1s;  
}

.nuage{
  position: absolute;
  left: 70%;
  top: 40%;
  z-index: 1;
  width: 30%;
  height: auto;

}

.nuage2{
  position: absolute;
  left: 90%;
  top: 10%;
  width: 30%;
  height: auto;
  z-index: 1; 
  }
.nuage3{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30%;
  height: auto;
  z-index: 1;  
}
.nuage4{
  position: absolute;
  left: 85%;
  top: 70%;
  width: 30%;
  height: auto;
  z-index: 1;
}
.nuage5{
  position: absolute;
  left: -10%;
  top: 30%;
  width: 30%;
  height: auto;
  z-index: 1;
}

.project{
  position: relative;
  width: 100%;
  height: 100%;
}





 

.description{
  position: absolute;
  width: 50%;
  height: 50%;
  left: 90vw;
  top: 20%;
  font-weight: bold;
  font-size: 3vw;   
  color: #FFFFFF;

}

.description>h3{
  margin: 0;
}

.description>p{
  margin-top: 2%;
}

.mobile{
  display: none;
  margin: 0 auto;

}

.mobile>h1{
  line-height: 100px;
  text-align: center;
  font-size: 42px;
}


@media screen and (max-width: 800px) {
  /* section{
    display: none;
  } 

   .mobile{
    display: block;
    position: absolute;
    top: 20%;
    left: 25%;
  } */

  .name_home{
    position: absolute;
  }
.name_home>h1{
  font-size: 8em; 
  position: absolute;
  top: 16vh;
  left: 23%;
  width: 83vw!important;
  position:relative
}
.name_home>h2{
  position: absolute;
  top: 117%;
  left: 60%;
}
  .animation_sun{
    display: none;
  }

  .main{
    margin: 0;
    height: 50vh;
  }

  .header{
    width: 100vw;
  }

  .img_project{
    width: 60vw!important;
    height: auto!important;
    left: -60vw!important;
    position: absolute;
  }

  .casse_brique{
    width: 60vw!important;
    height: auto!important;
  }
  .description{
    top: 50%;
    left: 60%;
    text-align: center;
  }

  .description>button{
    width: 80%;
    height: 10%;
  }

  .project{
    width: 100vw;
  }



}

button{
  width: 40%;
  height: 20%;
  background: #FFFFFF;
  border-radius: 70px;
  border: none;
}

button > a{
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: black;
 }

 button:hover{
   cursor: pointer;
 }



 .image{
  position: absolute;
  top: 25vh;
  background-color: transparent;
  width: 30vw;
  height: 30vh ;
  perspective: 800px;

}

.flipper{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}
.casse_brique{
  width: 30vw;
  height: 30vh ;
  box-shadow: 31px 36px 25px rgba(0, 0, 0, 0.55);
}

.royal_noisiel{
  width: 30vw;
  height: 30vh ;
  box-shadow: 31px 36px 25px rgba(0, 0, 0, 0.55);
}

.dropshipping{
  width: 30vw;
  height: 30vh ;
  box-shadow: 31px 36px 25px rgba(0, 0, 0, 0.55);
}
 
.api_back{
  width: 30vw;
  height: 30vh ;
  box-shadow: 31px 36px 25px rgba(0, 0, 0, 0.55);
}

.image:hover .flipper {
  transform: rotateY(180deg);
}

 .back {
  background-color: rgb(32, 32, 32);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;

}

.back>p{
  padding-left: 10%;
  padding-right: 10%;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.black{
  background-color: #161616;
  
}

