

body{
  margin:0;
  padding:0;
  font-family:"Lato",sans-serif;
  font-size: 14px;
  color:#444;
  /* background-color: #061C38; */
  background-color: #161616;

  overflow-x: hidden;
  
}



section{
  width: 100vw;
  height: 100vh;
}

.main{
  margin-bottom: 40vh;
}



h1{
position: absolute;
width: 33vw;
height: 20vh;
left: 9vw;
top: 5vh;
font-style: normal;
font-weight: bold;
font-size: 5vw;
line-height: 20vh;

color: #FFFFFF;
}

h2{
  position: absolute;
  width: 28vw;
  height: 0.2vh;
  left: 12vw;
  top: 27vh;
  font-weight: bold;
  font-size: 3vw;
  line-height: 0.1vh;
  color: #FFFFFF;
}

.about{
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 2vw;
  top: 102vh;
  left: 29.5vw;
  font-weight: bold;
  z-index: 10;
}

.about:hover{
  text-decoration: underline;
}

.about_image{
  position: absolute;
  width: 25vw;
  height: auto;
  top : 80vh;
  left: 20vw;
  animation-name: rotation_about;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-timing-function: linear;
}

@keyframes rotation_about{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}


.sun{
  position: absolute;
  z-index: 0 ;
  width: 65%;
  height: auto;
  left: 55%;
}

@keyframes sun-animation
{
    0%   { transform:translateX(100%) }

  }

@keyframes nuage-animation
{
  0%   { transform:translateX(100%) }
}

@keyframes nuage-animation2
{
  0%   { transform:translateX(-100%) }
}

.nuage_animation{
  animation-name: nuage-animation;
  animation-duration: 1s;
  animation: nuage-animation  1s;  
}
.nuage_animation2{
  animation-name: nuage-animation2;
  animation-duration: 1s;
  animation: nuage-animation2  1s;  
}

.nuage{
  position: absolute;
  left: 70%;
  top: 40%;
  z-index: 1;
  width: 30%;
  height: auto;

}

.nuage2{
  position: absolute;
  left: 90%;
  top: 10%;
  width: 30%;
  height: auto;
  z-index: 1; 
  }
.nuage3{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30%;
  height: auto;
  z-index: 1;  
}
.nuage4{
  position: absolute;
  left: 85%;
  top: 70%;
  width: 30%;
  height: auto;
  z-index: 1;
}
.nuage5{
  position: absolute;
  left: -10%;
  top: 30%;
  width: 30%;
  height: auto;
  z-index: 1;
}

.project{
  position: relative;
  width: 100%;
  height: 100%;
}


.casse_brique{
  position: absolute;
  width: 31vw;
  height: auto;
  left: -15vw;
  top: 20vh;
  box-shadow: 31px 36px 25px rgba(0, 0, 0, 0.55);
}

.audio_player{
  position: absolute;
  width: 40vw;
  height: auto;
  left: -20vw;
  top: 20vh;
}

.dropshipping{
  position: absolute;
  width: 40vw;
  height: auto;
  left: -20vw;
  top: 20vh;
}
 
  .royal_noisiel{
  position: absolute;
  width: 40vw;
  height: auto;
  left: -20vw;
  top: 20vh;
  box-shadow: 31px 36px 25px rgba(0, 0, 0, 0.55);

}
 
.description{
  position: absolute;
  width: 50%;
  height: 50%;
  left: 90vw;
  top: 14vh;
  font-weight: bold;
  font-size: 3vw;   
  color: #FFFFFF;

}


.mobile{
  display: none;
  margin: 0 auto;

}

.mobile>h1{
  line-height: 100px;
  text-align: center;
  font-size: 42px;
}


@media screen and (max-width: 1000px) {
  section{
    display: none;
  }

  .mobile{
    display: block;
  }

}

button{
  width: 40%;
  height: 20%;
  background: #FFFFFF;
  border-radius: 70px;
  border: none;
}

button > a{
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: black;
 }

 button:hover{
   cursor: pointer;
 }



.black{
  background-color: #161616;
}

